fastapi==0.115.12
uvicorn==0.34.0
pandas==2.2.3
pydantic==2.11.3
python-multipart==0.0.20
requests==2.32.3
python-dotenv==1.0.1
numpy==1.26.4
scikit-learn==1.5.1
sentence-transformers==3.4.1
faiss-cpu==1.12.0
transformers==4.48.3
accelerate==1.4.0